*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;
}
body {
    font-family: Roboto,sans-serif;
    font-size: 16px;
    color: #464646;
    overflow-y: scroll;
    background-color: #f4f7fa;
}
#container{
    box-sizing: border-box;
    
}
#navigation{
    width: 100%;
    height: 60px;
    background-color:  #34465c;
    padding: 10px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    
}
.logo{
    width: 120px;
    height:100%;
    display: flex;
    justify-content:center;
}
.logo img{
    width: 90%;
}
.avatar{
    width: 50px;
    height: 100%;
    display: flex;
    
}
.avatar img
{
    width: 32px;
    height:32px ;
    border-radius: 20px;
    object-fit: cover;
}
.menu
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    
    
}
.menulist
{
    display: flex;
    margin: 0 8px;
}
.menulist li{
    
    list-style-type: none;
    font-size: .95rem;
    
    
}
.menulist li a{
    text-decoration: none;
    color: white;
    margin: 0 12px;
    text-transform: uppercase;
}
.menulist li a:hover
{
    color:rgb(143, 142, 142);
}
.caret
{
    font-size:18px;
    margin-left: 5px;
    
}
.shopping-cart
{
    font-size:  22px;
    margin-left: 5px;
}
#bodypost1
{
    width: 99%;
    height: 480px;
    margin-top: 70px;
    margin-right: 15px;
    margin-left: 15px;
    background-color: #f4f7fa;;
    display: flex;
    
}
.part1
{
    width: 62%;
    height:100%;
    background-color: #f4f7fa;
    display: flex;
    justify-content: flex-end;
}
.part1 img
{
    height: 100%;
    object-fit: cover;
    border-radius:  4px;
    border-color: #d1d1d1;
    /* padding-right: 15px; */
    border-bottom-style: solid;
    border-right-style: solid;
    border-bottom-width: 2px;
    border-right-width: 1px;
    border-color: #dadada;
    
}
.part2
{
    height: 100%;
    width: 30%;
    padding-right: 15px;
    padding-left: 30px;
    background-color: #f4f7fa;
    display : flex;
    flex-direction: column;
    justify-content:space-between;

}
.bang
{
    border-radius: 4px;
    background-color: #fff;
    height: 21.5%;
    margin-right: 25px;
    display: flex;
    align-content: center;
    border-bottom-style: solid;
    border-right-style: solid;
    border-bottom-width: 2px;
    border-right-width: 1px;
    border-color: #dadada;
    
}
.bang img
{
    width: 25%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.bang a
{
    color:#464646;
    text-decoration: none;
    font-size: 1rem;
}
.div-posts 
{
    background-color: #fff;
    margin-top: 15px;
    margin-left: 10px;
      
}
.Body-posts2
{
   
    width: 80%;
    height: 200px;
    margin-top:60px;
    margin-left: 145px;
    background-color: #f4f7fa;
    display: flex;
    align-items: center;
    text-align: center;
    
}
.intro
{
    padding: 20px 0;
    float: left;
    width: 25%;
    text-align: center;
}
.intro-text
{
    margin-top: 15px;
    color: #464646;
    font-size: 1rem;
}
.intro-description
{
    padding-top: 5px;
    margin-top: 15px;
    font-size: 14px;
    font-weight: 300;
    color: #999;
    width: 80%;
    margin: auto;

}
#route
{
    width: 98%;
    height: 1580px;
    margin-left: 15px;
    margin-top: 30x;
    background-color: #e4f2fd;
}
.route-navigation
{
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem ;
    text-transform: uppercase;
    margin: 0;
    margin-top: 35px;
    padding-top: 80px;
}
.route-list
{
    width: 1250px;
    height: 1390px;
    margin: auto;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    
    
}
.route-items
{
    background-color: transparent;
    max-width: 33.3%;
    height: 33.3%;
    padding: 0px 15px;
    flex: 0 0 33.333333%;
    
    
}
.route-items-content
{
   width: 100%;
   height: 90%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-bottom-width: 2px;
    border-right-width: 1px;
    border-color: #dadada;
    background-color: #f4f7fa;
}
.route-items-content img
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
}
.route-content1
{
    padding-top:20px;
    padding-left: 20px;
    
}
.route-content1 a
{
    text-decoration: none;
    
}
.route-title
{
    font-weight: 500;
    font-size: 18px;
    color: #464646
}
.route-center
{
    font-weight: 300;
    font-size: 16px;
    color: #464646;
    text-overflow : ellipsis;
    padding-right: 10px;
    
    
}
.route-end
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    color: #757575;
}
.product
{
    height: 632px;
    width: 1489px;
    margin: auto;
    padding: 80px 0;
}
.product-container
{
    width: 80%;
    height:85%;
    margin:auto;
    
}
.product-title
{
    width: 100%;
    height:10%;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon-1
{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color:#f4f7fa;
    border-style: solid;
    border-width:2px;
    border-color: #2196f3;
    color: #757575;;
    text-align: center;
    padding-top: 5px;
}
.product-content
{
    width: 100%;
    height:90%;
    
    margin: auto;
    display: flex;
    justify-content:space-between;
        
    
}
.product-items
{
    background-color: transparent;
    max-width: 31.5%;
    height: 96%;
    padding: 0px 0px;
    flex: 0 0 33.333333%;
    background-color: #fff;
    border-radius: 4px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-bottom-width: 2px;
    border-right-width: 1px;
    border-color: #dadada;
    

    
}
.product-items-content
{
   width: 100%;
   height: 90%;
   padding-left: 5px;
}
.product-items-content img
{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100%;
    
}
.product-center
{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #5e5e5e;
}
#video-container
{
    width: 98%;
    height: 860px;
    margin: auto;
    padding-top: 90px;
    background-color: #e4f2fd;
}
.video1
{
    width: 82%;
    height: 90%;
    margin:auto;
    border-radius: 4px;
}
.video2
{
    width: 99.9%;
    height:99.9%;
    text-align: center;
}
#body-end
{
    width: 100%;
    height: 400px;
    background-color: #464646;
    padding-top: 50px;
}
.body-content
{
    width: 83%;
    height:85% ;
    background-color: #464646;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.body-content1
{
    width: 25%;
    height:100%;
    color: #919294;
    padding: 0 15px;
    line-height: 2;
    text-align: justify;
    font-size:14px;
}
.body-content1 a
{
    text-decoration: none;
    color: #919294;
    font-size: 14px;
}
.body-content1 a:hover
{
    text-decoration: underline;
}

.h4
{
    font-size:18px;
    color: #fff;
}
.so-icon
{
    display: flex;
    height: 50px;
    width: 100%;
    padding-top: 10px;
}
.icon12
{
    font-size: 32px;
    padding-left: 22px;
    
}
.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    margin-right: 25px;
    margin-bottom: 20px;
    border-radius: 50%;
    background-color: #0084ff;

  }
  .ci 
  {
      font-size:43px;
      padding-top: 9px;
      padding-left: 9px;
      
      color:white;
      
      
  }