<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Car</title>
    <style>
        .menu a {
            font-size: 20px;
            color: #757575;
            text-decoration: none;
            font-weight: bold;
        }
    </style>

</head>

<body>
    <h1>Cars</h1>
    <ul>
        <li class="menu"><a href="/getAll">Hiện thị tất cả xe</a></li>
        <li class="menu"><a href="/getbyid">Tìm Kiếm</a></li>
        <li class="menu"><a href=" /add ">Thêm Mới</a></li>
        <li class="menu"><a href="/update ">Cập nhật</a></li>
        <li class="menu"><a href="/deletebyid ">Xóa</a></li>
        <li class="menu"><a href="/searchModel ">Tìm theo Model</a></li>
    </ul>
</body>

</html>