<!DOCTYPE html>
<html lang="en">

<head th:replace="template.html :: header('update')">
</head>

<body>
    <header th:insert="template.html :: topmenu"> </header>

    <div class="container">

        <form action="#" th:action="@{/update}" th:object="${updateBook}" method="post">
            <input type="text" placeholder="Nhập id" th:field="*{id}" /><br><br>
            <input type="text" placeholder="Nhập model" th:field="*{model}" /><br><br>
            <input type="text" placeholder="Nhập manufacturer" th:field="*{manufacturer}" /><br><br>
            <input type="text" placeholder="Nhập price" th:field="*{price}" /><br><br>
            <input type="text" placeholder="Nhập sales" th:field="*{sales}" /><br><br>
            <input type="text" placeholder="Nhập photo" th:field="*{photo}" /><br><br>
            <button type="submit">Cập nhật</button>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">photo</th>
                    <th scope="col">Id</th>
                    <th scope="col">Model</th>
                    <th scope="col">Manufacturer</th>
                    <th scope="col">Price</th>
                    <th scope="col">Sales</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="car :${cars}">
                    <td><img width="350px" height="200px" style="image-rendering: pixelated;object-fit: cover;" th:src="*{car.photo}" alt=""></td>
                    <td th:text="${car.id}"></td>
                    <td th:text="${car.model}">Otto</td>
                    <td th:text="${car.manufacturer}">@mdo</td>
                    <td th:text="${car.price}"></td>
                    <td th:text="${car.sales}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <header th:replace="template.html :: footer"> </header>
</body>

</html>